// It's highly recommended to change the default colors
// to match your app's branding.

$primary   = #3D9970
$secondary = #001f3f
$tertiary  = #555

$neutral   = #2c3e50
$positive  = #21BA45
$negative  = #DB2828
$info      = #31CCEC
$warning   = #F2C037

@import '~quasar-variables'
